$font-roboto: 'Roboto', sans-serif;
$gray-light-color: #e0ded6;
$white-color: #fff;
$primary-color: #333333;
$gray-dark-color: #7a7a7a;
$black-color: #000;
$blue-color: #003366;
$black_40: rgba(0, 0, 0, .4);
$black_21: rgba(0, 0, 0, 0.21);
$gray-hard-dark-color: #333333;
$black_5: rgba(0,0,0,.05);
$percent_100: 100%;
$error-color: rgba(157, 15, 21, .9);
$success-color: rgba(0, 153, 0, 0.84);
$info-color: rgba(41, 135, 163, 0.9);
$warning-color: rgba(239, 155, 35, 0.9);
$logo-green: #00aca2;